<div id="sidebar" class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/admin/dashboard">
                    <i class="nav-icon icon-speedometer"></i>
                    Trang chủ
                </a>
            </li>
            <li class="nav-title">Giao dịch</li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/flight/index">
                    <i class="nav-icon icon-plane"></i>
                    Chuyến bay
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/user/index">
                    <i class="nav-icon icon-people"></i>
                    Khách hàng
                </a>
            </li>
            <% if(userLogin.roleId === 1) { %>
            <li class="nav-title">Cộng tác viên</li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/collaborator/index">
                    <i class="nav-icon icon-shield"></i>
                    Danh sách CTV
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/transaction/index">
                    <i class="nav-icon icon-calculator"></i>
                    Lịch sử rút tiền
                </a>
            </li>
            <li class="nav-title">Permission</li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/employee/index">
                    <i class="nav-icon icon-people"></i>
                    Nhân viên
                </a>
            </li>
            <% } %>
            <% if(userLogin.roleId === 2) { %>
                <li class="nav-title">Thông tin tài khoản</li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/collaborator/view/<%= userLogin.id %>">
                        <i class="nav-icon icon-shield"></i>
                        Thông tin cá nhân
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/bank/index">
                        <i class="nav-icon icon-calculator"></i>
                        Tài khoản ngân hàng
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/transaction/index">
                        <i class="nav-icon icon-clock"></i>
                        Lịch sử rút tiền
                    </a>
                </li>
            <% } %>
        </ul>
    </nav>
    <a class="sidebar-minimizer brand-minimizer" href=""></a>
</div>

<style>
    .is-active{
        margin-left: 0!important;
    }
</style>

<script>
    const $menu = $('#sidebar');

    $(document).mouseup(e => {
        if (!$menu.is(e.target) && $menu.has(e.target).length === 0) {
            $menu.removeClass('is-active');
        }
    });

    $('#sidebar-toggler').on('click', () => {
        $menu.toggleClass('is-active');
    });
</script>