<table border="0" cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse">
    <tbody>
    <tr>
        <td style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;background:#ffffff">
            <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                <tbody>
                <tr>
                    <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                </tr>
                <tr>
                    <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                            <tbody>
                            <tr>
                                <td height="15" style="line-height:15px" colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="32" align="left" valign="middle" style="height:32px;line-height:0">
                                    <img src="https://duybnd-1659.github.io/images/logo.png" height="45" style="border:0" class="CToWUd">
                                </td>
                                <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                                <td width="100%">
                                    <span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:19px;line-height:32px;color:#3b5998">ThankTrip</span>
                                </td>
                            </tr>
                            <tr style="border-bottom:solid 1px #e5e5e5">
                                <td height="15" style="line-height:15px" colspan="3">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                            <tbody>
                            <tr>
                                <td height="28" style="line-height:28px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td>
                                    <div style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
                                        <p>Xin chào <%= %>,</p>
                                        <p></p>
                                        <div>
                                            Chúng tôi đã nhận được yêu cầu làm CTV cùng ThankTrip của bạn.
                                        </div>
                                        <br>
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-image: linear-gradient(140deg, #ffa311 0%, #ff4500 100%);color: #fff;box-shadow: 0 3px 6px rgba(255, 167, 0, 0.4);">
                                            <tbody>
                                            <tr>
                                                <td style="text-transform:uppercase;padding:12px 10px">Thông tin đăng nhập vào trang quản trị của bạn là:</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                            <tbody>
                                            <tr>
                                                <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:10px;background-color:#f2f2f2;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc">
                                                    <span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
                                                        Link đăng nhập
                                                    </span>
                                                </td>
                                                <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:10px;background-color:#f2f2f2;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc">
                                                    <span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
                                                        <a href="http://150.95.108.243:9000/admin/login">
                                                            http://150.95.108.243:9000
                                                        </a>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:10px;background-color:#f2f2f2;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc">
                                                    <span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
                                                        Tài khoản
                                                    </span>
                                                </td>
                                                <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:10px;background-color:#f2f2f2;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc">
                                                    <span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
                                                        452869
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:10px;background-color:#f2f2f2;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc">
                                                    <span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
                                                        Mật khẩu
                                                    </span>
                                                </td>
                                                <td style="font-size:11px;font-family:LucidaGrande,tahoma,verdana,arial,sans-serif;padding:10px;background-color:#f2f2f2;border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:1px solid #ccc;border-bottom:1px solid #ccc">
                                                    <span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:16px;line-height:21px;color:#141823">
                                                        452869
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p></p>
                                        Ngoài ra, bạn có thể đăng nhập trực tiếp tại đây.
                                        <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse"><tbody>
                                            <tr>
                                                <td height="9" style="line-height:9px" colspan="3">&nbsp;</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="" style="color:#3b5998;text-decoration:none" target="_blank">
                                                        <table border="0" width="100%" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                            <tbody>
                                                            <tr>
                                                                <td style="border-collapse:collapse;border-radius:2px;text-align:center;display:block;padding:12px 16px 12px 16px;background-image: linear-gradient(140deg, #ffa311 0%, #ff4500 100%);color: #fff;box-shadow: 0 3px 6px rgba(255, 167, 0, 0.4);">
                                                                    <a href="https://www.facebook.com/recover/code/?u=100007969296560&amp;n=452869&amp;s=23&amp;exp_locale=vi_VN&amp;redirect_from=button" style="color:#3b5998;text-decoration:none;display:block" target="_blank">
                                                                        <center>
                                                                            <font size="3">
                                                                                <span style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#ffffff;font-size:14px;line-height:14px">
                                                                                    Đăng nhập ngay
                                                                                </span>
                                                                            </font>
                                                                        </center>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </a>
                                                </td>
                                                <td width="100%"></td>
                                            </tr>
                                            <tr>
                                                <td height="32" style="line-height:32px" colspan="3">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <br>
                                        <div>
                                            <span style="color:#333333;font-weight:bold">
                                                Bạn đã không yêu cầu thông tin này?
                                            </span>
                                        </div>
                                        Nếu bạn không yêu cầu làm CTV, hay bỏ qua email này.
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td height="28" style="line-height:28px">&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                    <td>
                        <table border="0" width="100%" cellspacing="0" cellpadding="0" align="left"
                               style="border-collapse:collapse">
                            <tbody>
                            <tr style="border-top:solid 1px #e5e5e5">
                                <td height="19" style="line-height:19px">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:11px;color:#aaaaaa;line-height:16px">
                                    Tin nhắn này được gửi tới
                                    <a href="mailto:levanviet_t58@hus.edu.vn" style="color:#3b5998;text-decoration:none" target="_blank">
                                        levanviet_t58@hus.edu.vn
                                    </a>
                                    theo yêu chính sách của ThinkTrip.
                                    <br>
                                    <div>
                                        <a href="#">ThankTrip</a>
                                        <span>© 2020 creativeLabs.</span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                    <td width="15" style="display:block;width:15px">&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td height="20" style="line-height:20px" colspan="3">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>