<div class="col-md-12">
    <div class="row">
        <div class="col-md-12 mb-3">
            <strong>Danh sách phòng</strong>
        </div>
    </div>
    <div style="background: #f2f2f2;border-radius: 10px;padding: 10px 15px 0;">
        <div class="row"
             ng-repeat="(key2, room) in detail.rooms">
            <div class="col-md-4">
                <div class="form-group">
                    <label ng-if="key2 == 0" for="">Loại phòng</label>
                    <br ng-if="key2 == 0">
                    <input type="hidden" name="details[{{key}}][rooms][{{key2}}][room_id]"
                           value="{{room.id}}">
                    <p style="margin-top: 7px;">
                        <strong>
                            {{room.title}}
                        </strong>
                    </p>
                </div>
            </div>
            <div class="col-md-2" style="text-align: right;">
                <div class="form-group">
                    <label ng-if="key2 == 0" for="">
                        Ngày thường
                    </label>
                    <p style="margin-top: 7px;">
                        ₫<strong>
                            {{ room.price_normal | number}}
                        </strong>
                    </p>
                    <input type="hidden" name="details[{{key}}][rooms][{{key2}}][price_normal]"
                           value="{{room.price_normal}}">
                </div>
            </div>
            <div class="col-md-2" style="text-align: right;">
                <div class="form-group">
                    <label ng-if="key2 == 0" for="">
                        Cuối tuần
                    </label>
                    <p style="margin-top: 7px;">
                        ₫<strong>
                            {{ room.price_weekend | number}}
                        </strong>
                    </p>
                    <input type="hidden" name="details[{{key}}][rooms][{{key2}}][price_weekend]"
                           value="{{room.price_weekend}}">
                </div>
            </div>
            <div class="col-md-2" style="text-align: right;">
                <div class="form-group">
                    <label ng-if="key2 == 0" for="">
                        Ngày lễ
                    </label>
                    <p style="margin-top: 7px;">
                        ₫<strong>
                            {{ room.price_lunar | number}}
                        </strong>
                    </p>
                    <input type="hidden" name="details[{{key}}][rooms][{{key2}}][price_lunar]"
                           value="{{room.price_lunar}}">
                </div>
            </div>
            <div class="col-md-2" style="text-align: right;">
                <div class="form-group">
                    <label ng-if="key2 == 0" for="">
                        Chọn hiển thị
                    </label>
                    <p>
                        <input type="checkbox" name="details[{{key}}][rooms][{{key2}}][visible]"
                               data-ng-checked="room.visible" value="{{room.visible}}">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-3 mt-3">
            <strong>Phụ thu</strong>
        </div>
    </div>
    <div style="background: #f2f2f2;border-radius: 10px;padding: 10px 15px 0;">
        <div class="row"
             ng-repeat="(key2, service) in detail.services">
            <div class="col-md-4">
                <div class="form-group">
                    <label ng-if="key2 == 0" for="">Tên dịch vụ</label>
                    <p style="margin-top: 7px;">
                        <strong>
                            {{ service.title }}
                        </strong>
                    </p>
                    <input type="hidden" class="form-control" value="{{service.title}}"
                           name="details[{{key}}][services][{{key2}}][title]">
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-2"></div>
            <div class="col-md-2" style="text-align: right;">
                <div class="form-group">
                    <label ng-if="key2 == 0" for="">Chi phí</label>
                    <p style="margin-top: 7px;">
                        ₫<strong>
                            {{ service.price | number }}
                        </strong>
                    </p>
                    <input type="hidden" name="details[{{key}}][services][{{key2}}][price]"
                           value="{{service.price}}" class="form-control">
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>