<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Thinkflight | Giao dịch - Thêm mới</title>
    <!-- Icons-->
    <link rel="icon" type="image/ico" href="./img/favicon.ico" sizes="any"/>
    <link href="/stylesheets/coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/stylesheets/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <!-- Main styles for this application-->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/pace.min.css" rel="stylesheet">

    <style>
        .card-body table th {
            text-transform: uppercase;
        }

        table tr th {
            color: #000 !important;
            border-top: 1px solid #c5e7f2 !important;
            border-bottom: 1px solid #c5e7f2 !important;
            background: url(https://cdn-app.kiotviet.vn/retailler/Content/thBg.png) right center no-repeat #dcf4fc !important;
        }

        .table th {
            border-bottom: none !important;
            font-weight: 400 !important;
            font-size: 12px !important;
            text-transform: uppercase;
        }

        .required {
            color: red;
        }
    </style>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
<% include ../layouts/header.ejs %>
<div class="app-body">
    <% include ../layouts/sidebar.ejs %>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">
                <a href="index">Giao dịch</a>
            </li>
            <li class="breadcrumb-item active">Thêm mới</li>
        </ol>
        <div class="container-fluid" data-ng-app="orderCrudApp" data-ng-controller="orderCrudCtrl">
            <div id="ui-view">
                <div>
                    <div class="fade-in">
                        <div class="row">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10">
                                <form action="create" method="post">
                                    <div class="card">
                                        <div class="card-header">
                                            <strong>Giao dịch</strong>
                                            <small>Thêm mới</small>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <% if(typeof validateFormError !== "undefined") { %>
                                                    <div class="alert alert-danger" role="alert" style="opacity: 1;">
                                                        <i class="nav-icon icon-bell"></i>
                                                        <%= validateFormError %>
                                                    </div>
                                                <% } %>
                                                <% if(typeof createBankFirst !== "undefined") { %>
                                                    <div class="alert alert-warning" role="alert">
                                                        <i class="nav-icon icon-bell"></i>
                                                        <%= createBankFirst %>
                                                    </div>
                                                <% } %>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="street">
                                                            Cộng tác viên
                                                            <span class="required">(*)</span>
                                                        </label>
                                                        <select class="form-control" name="user_id">
                                                            <option value="">Chọn cộng tác viên</option>
                                                            <% collaborators.forEach(function(collaborator) { %>
                                                                <option value="<%= collaborator.id %>">
                                                                    <%= collaborator.fullName %>
                                                                </option>
                                                            <% }); %>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <strong>Chi tiết giao dịch</strong>
                                                    </div>
                                                </div>
                                            </div>
                                            <div ng-repeat="(key,detail) in service_detail track by $index">
                                                <div class="row">
                                                    <div class="col-md-1">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div ng-if="key == 0">
                                                                        <strong style="color: #fff;">STT</strong>
                                                                    </div>
                                                                    <button ng-if="key == 0" type="button"
                                                                            class="btn btn-sm btn-danger"
                                                                            style="margin-top: -15px;"
                                                                            data-ng-click="deleteDetail(key)">
                                                                        <span class="fa fa-trash"></span>
                                                                    </button>
                                                                    <button ng-if="key != 0" type="button"
                                                                            class="btn btn-sm btn-danger"
                                                                            style="margin-top: 33px;"
                                                                            data-ng-click="deleteDetail(key)">
                                                                        <span class="fa fa-trash"></span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% include _tour %>
                                                    <% include _hotel %>
                                                    <% include _flight %>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-outline-primary"
                                                                data-ng-click="addDetail(1)">
                                                            <span class="fa fa-globe"></span>
                                                            Thêm tour
                                                        </button>
                                                        <button type="button" class="btn btn-outline-primary"
                                                                data-ng-click="addDetail(2)">
                                                            <span class="fa fa-home"></span>
                                                            Thêm hotel
                                                        </button>
                                                        <button type="button" class="btn btn-outline-primary"
                                                                data-ng-click="addDetail(3)">
                                                            <span class="fa fa-plane"></span>
                                                            Vé máy bay
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button class="btn btn-success pull-right" type="submit">
                                                <i class="nav-icon icon-check"></i>
                                                Lưu & Tiếp tục
                                            </button>
                                            <a href="index" class="btn btn-danger pull-left">
                                                <i class="nav-icon icon-close"></i>
                                                Hủy bỏ
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<% include ../layouts/footer %>
<script src="/javascript/order-crud.js"></script>
</body>
</html>